.main-layout {
  display: grid;
  grid-template-columns: 70px 1fr 1fr;
  grid-auto-rows: 400px;
  grid-template-areas:
    "label0 search search"
    "label1 time-series-overview time-series-overview"
    "label2 seasonal-status climate-overview"
}

.label-box {
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: sideways-lr;
  font-size: 70px;
  font-family: "Arial Black", Gadget, sans-serif;
}

.label-box--light {
  color: #eaeaea;
}

.label-box--dark {
  color: white;
  background-color: #eaeaea;
}

.search {
  grid-area: search;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-series-overview {
  grid-area: time-series-overview;
}

.seasonal-status {
  grid-area: seasonal-status;
}

.climate-overview {
  grid-area: climate-overview;
}

.item-container {
  position: relative;
  width: 100%;
  height: 100%;
}
