.search-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.search-box {
  display: flex;
  margin: 1em;
  border: 4px solid #eaeaea;
  padding: 1em;
  border-radius: 1em;
  flex: 60%;
}

.filter-box {
  display: flex;
}

.filter-items {
  margin-right: 10px;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results-box {
  overflow: auto;
  width: 100%;
}

.ridelist-box {
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
  margin-bottom: 1.5em;
  flex: 40%;
  font-family: "Arial Black", Gadget, sans-serif;
}

.table {
  height: 100%;
  overflow: auto;
}